@charset "UTF-8";

/********** CONFIGURAÇÃO DO CABECALHO  **********/
.containerLogo {
    height: 80px;
    background-size: 60px;
}

.nomeLogo {
    font-size: 25px;
    text-indent: 100px;
    line-height: 80px;
}

.txtApresentacao {
    font-size: 20px;
}

.txtGestaoApresentacao {
    font-size: 35px;
    letter-spacing: 8px;
}

/********** CONFIGURAÇÃO DO MENU  **********/

.bt-burguer {
    font-size: 35px;
    line-height: 80px;
}

/********** CONFIGURACAO DA PAGINA PRINCIPAL **********/

.conteudoPrincipal {
    background-size: 80px;
    background-position: 12.5% 20px;
}

.containerCompromisso {
    width: 83.5%;
    margin: 70px -20px auto auto;
}

.tituloNossoDiferencial {
    font-size: 18px;
}

.textoConteudoPrincipal {
    font-size: 15px;
}

.saibaMais {
    margin-top: 30px;
    font-size: 14px;
}

.containerWhatsApp {
    height: 120px;
}

.textoFalarWhats {
    font-size: 15px;
}

.whatsApp {
    width: 60px;
    height: 60px;
}

/********** CONFIGURACAO DA PAGINA SISTEMA GESTAO **********/

/********** CONFIGURACAO DA PAGINA CERTIFICADO **********/

.containerLogoSoluti {
    grid-template-columns: auto 165px;
    height: 75px;
}

.txtLogoSoluti {
    line-height: 75px;
}

.textoIdentidadeCertificado {
    font-size: 20px;
}

.tituloTextoCertificado {
    max-width: 380px;
    font-size: 25px;
}

.containerConteudoCertificado {
    width: fit-content;
    margin: auto;
}

.textoConteudoCertificado {
    font-size: 14px;
}

@media screen and (min-width: 530px) {
    .textoConteudoCertificado {
        text-indent: 0px;
    }

}