@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #E8F7FF;
    --cor1: #D9F1FF;
    --cor2: #03a9f4;
    --cor3: #02579B;
    --cor4: #9E9E9E;
    --cor5: #424242;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
}

main {
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor0);
}

.menu {
    position: fixed;
    left: 25%;
    display: flex;
    min-width: 1200px;
    height: 90px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    background-image: url(../imagens/nav.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    letter-spacing: 3px;
    margin-left: 50px;
}
/*
.menu ul {
    list-style: none;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.menu li {
    width: 95px;
    float: right;
    text-align: center;
}

.menu a {
    font-size: 1.2em;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: var(--cor5);
    margin: 15px 5px;
    border-radius: 7px;
}

.menu a:hover {
    font-weight: 600;
    color: var(--cor5);
    border: 1px dashed var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor0), transparent);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

.menu ul.sistemas {
    position: absolute;
    margin: -15px 0px;
    background: none;
    visibility: hidden;
}

.sistemas li {
    float: none;
    margin: -15px 0px;
    color: var(--cor2);
}

.sistemas a {
    font-size: 1em;
    font-style: italic;
    color: #9E9E9E;
}

.menu li:hover ul {
    visibility: visible;
}

.sistemas a:hover {
    color: var(--cor3);
}
.loginBtn {
    float: right;
    margin: 15px 50px;
    padding: 5px;
    visibility: hidden;
}