@charset "UTF-8";

:root {
    --cor0: #E8F7FF;
    --cor1: #cbecff;
    --cor2: #0077c7;
    --cor3: #02579B;
    --cor4: #123b61;
    --cor5: #CECECE;
    --cor6: #424242;
    --cor7: #040829;
    /*CORES COM TRANSPARENCIA*/
    --cor8: #dbf2ff4d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-midia: 'Ubuntu', sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

header {
    background: url("../imagens/fd-escritorio-desktop.jpg") no-repeat;
    background-size: contain;
    background-attachment: fixed;
    transition: 0s;
}

header h3.txt-gestaoPrincipal {
    letter-spacing: 15px;
}

header .menu {
    width: 840px;
    margin: auto;
}

header .list-menu li#link-utilitarios {
    margin-left: 18px;
    display: inline-block;
}

header .list-menu .link-utilitarios {
    background: url("../imagens/ico-utilitarios.png") no-repeat;
    background-color: white;
    background-position: 50% 30%;
}

main.pag-principal {
    background: url("../imagens/fd-desktop.png") no-repeat;
    background-position: right 95%;
    background-attachment: fixed;
    background-color: black;
}

main .txt-telaGrande {
    margin: auto;
    max-width: 1000px;
}
main .compromisso {
    max-width: 350px;
    background: none;
    border: none;
}

main .compromisso p {
    font-family: var(--fonte-padrao);
    color: var(--cor8);
}

main .atendimento {
    max-width: 550px;
    padding: 5px;
    background: none;
    border: none;
    box-shadow: none;
}

main .atendimento p {
    font-size: 18px;
}

main .atendimento em {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

main .atendimento p:hover {
    letter-spacing: 3px;
    scale: 1.2;
    transition: 0.8s;
}