@charset "UTF-8";

:root {
    --cor0: #E8F7FF;
    --cor1: #cbecff;
    --cor2: #0077c7;
    --cor3: #02579B;
    --cor4: #123b61;
    --cor5: #CECECE;
    --cor6: #424242;
    --cor7: #040829;
    /*CORES COM TRANSPARENCIA*/
    --cor8: #dbf2ff4d;
    /*************************/
    --cor9: #bd1b1b;
    --cor10: #00ff00;
    --cor11: #531a03;
    --cor12: #ffa500;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-midia: 'Ubuntu', sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

header {
    background: url("../imagens/fd-escritorio-desktop.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s;
}

header h3.txt-gestaoPrincipal {
    letter-spacing: 15px;
}

header .menu {
    width: 840px;
    margin: auto;
}

header .list-menu li#link-utilitarios {
    margin-left: 18px;
    display: inline-block;
}

header .list-menu .link-utilitarios {
    background: url("../imagens/ico-utilitarios.png") no-repeat;
    background-color: white;
    background-position: 50% 30%;
}

main.pag-principal {
    background: url("../imagens/fd-desktop.png") no-repeat;
    background-position: right 95%;
    background-attachment: fixed;
    background-color: black;
}

main .txt-telaGrande {
    margin: auto;
    max-width: 1000px;
}
main .compromisso {
    max-width: 350px;
    background: none;
    border: none;
}

main .compromisso p {
    font-family: var(--fonte-padrao);
    color: var(--cor8);
}

main .atendimento {
    max-width: 550px;
    padding: 5px;
    background: none;
    border: none;
    box-shadow: none;
}

main .atendimento p {
    font-size: 18px;
    cursor: pointer;
}

main .atendimento em {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

main .atendimento p:hover {
    letter-spacing: 3px;
    scale: 1.2;
    transition: 0.8s;
}

section.pag-sistemaGestao {
    padding-top: 3px;
}

section.pag-sistemaGestao .conteudo-gestao {
    background: url("../imagens/fd-sistemaGestao-grande.png") no-repeat;
    background-size: cover;
}

.pag-sistemaGestao h4 {
    font-family: var(--fonte-destaque);
    font-size: 60px;
    padding-top: 50px;
    letter-spacing: 10px;
    max-width: 500px;
    background: none;
    color: var(--cor7);
    border: none;
    box-shadow: none;
}

.pag-sistemaGestao .list-gestao {
    padding: 0px;
}

.pag-sistemaGestao li {
    width: 150px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--cor5);
    border-radius: 0px;
}

.pag-sistemaGestao li.list-baixo {
    border: none;
}

.pag-sistemaGestao li:hover {
    background: none;
    box-shadow: none;
    color: var(--cor4);
}

.pag-sistemaGestao .faixa-1 {
    float: right;
    width: 70vw;
    height: 250px;
    background-image: linear-gradient(to top, black 80%, transparent 1%);
}

.pag-sistemaGestao .faixa-2 {
    position: relative;
    width: 35vw;
    height: 200px;
    background-image: linear-gradient(90deg, var(--cor2), var(--cor7));
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

section.pag-sistemaDelivery .conteudo-delivery {
    padding: 80px 20px;
    background: url("../imagens/fd-sistemaDelivery-grande.jpg") no-repeat;
    background-position: 70%;
}

section.pag-sistemaDelivery h4 {
    font-size: 35px;
    padding: 10px;
}

.pag-sistemaDelivery ul {
    max-width: fit-content;
    margin: 10px;
}

.pag-sistemaDelivery li {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid var(--cor9);
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.pag-sistemaDelivery em {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    max-width: 200px;
    padding: 10px;
}

.pag-sistemaDelivery em {
    opacity: 0;
    margin-left: -200px;
}

.pag-sistemaDelivery .list-pao,
.pag-sistemaDelivery .list-tomate,
.pag-sistemaDelivery .list-alface,
.pag-sistemaDelivery .list-hamburguer,
.pag-sistemaDelivery .list-paoBase {
    display: inline-block;   
    background: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    font-size: 15px;
    color: var(--cor9);
    width: 100px;
    padding: 5px;
}

.pag-sistemaDelivery li:hover em {
    opacity: 1;
    margin-left: 0px;
    transition: 0.5s;
}

.pag-sistemaDelivery .texto-meio {
    margin-bottom: 10px;
}

.pag-sistemaDelivery h5 {
    padding: 20px;
}

.pag-sistemaDelivery h6.texto-esquerda {
    font-size: 12px;
    padding: 15px;
    color: var(--cor6);
}